/*
 * Globals
 */

html {
  height: 100%;
}

body {
  height: 100%;
  color: #555;
  overflow-y: scroll;
  font-family: Terminus, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.7;
}

.btn {
  font-size: 12px;
}
.label.sum {
    font-size: 12px;
    margin-top: 1px;
    font-weight: normal;
    padding: .2em .4em .25em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Terminus, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item,
.blog-nav-text {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-bottom: 14px;
  padding-top: 12px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-text {
    padding: 10px;
}
@media (min-width: 768px) {
    .blog-nav-item {
        padding: 10px;
    }
}
.blog-nav-item:hover,
.blog-nav-item:focus,
.blog-nav-text{
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav { /* Animate menu show on set 'height: 40px' from js */
  height: 40px;
  overflow: hidden;
  transition: height 250ms;
}
.js-nav.js-hidden {
  height: 0;
  opacity: 1;
  transition: height 250ms;
}

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}
.blog-nav .glyphicon {
    line-height: 1.15;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-bottom: 0;
  font-weight: normal;
}
.blog-description {
  font-size: 16px;
  color: #999;
  margin: 0;
}

.js-header, .js-description  {
  opacity: 1; /* title change animation: set opacity to 0, wait 250ms, set title and set opacity to 1 */
  transition: opacity 250ms;
}

.js-body {
  opacity: 1; /* show animation: set opacity to 1 */
  transition: opacity 250ms;
}

/*
 * Main column and sidebar layout
 */

.site-wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -61px;
  padding: 0 0 61px;
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
/*.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}*/


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.form-text {
    margin-top: 6px;
    margin-bottom: 8px;
}


.js-hidden {
    opacity: 0;
    transition: opacity 250ms;
}

.select2-container.form-control {
    border: 0;
    padding: 0;
    height: auto;
}

.loader {
    width: 100%;
    height: 100px;
    background: url(../img/loader.gif) center center no-repeat;
}

.deposit-list .pagination,
.transaction-list .pagination {
    margin: 0;
}


.transaction-list:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 74px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity ease-in 500ms;
}
.transaction-list.loading:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 58px;
    width: 32px;
    height: 32px;
    background: url('/static/img/loader.gif') center center no-repeat;
    z-index: 1001;
    opacity: 1;
}

.btn.loading {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.forget-password {
    margin-top: 10px;
}
@media (min-width: 768px) {
    .forget-password {
        margin-top: 0;
    }
}

.transaction-list .glyphicon.glyphicon-arrow-up {
    width: 14px;
}
.transaction-list .glyphicon.glyphicon-arrow-down {
    width: 16px;
}

.deposit_type_1, .deposit_type_cash {

}

.btn-transaction-delete span {
    color: #666;
}
.btn-transaction-delete:hover span,
.btn-transaction-delete:active span {
    color: #a94442;
}

.nowrap {
    white-space:nowrap;
}

.deposit-description {
    width: 45%;
}

.transaction-description-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.deposit-symbol .glyphicon-usd {
    margin-left: -3px;
}

.transaction-list {
    margin-bottom: 20px;
}

.transaction-list > .list {
    opacity: 1;
    transition: opacity 250ms;
}
.transaction-list.loading > .list {
    opacity: 0;
    transition: opacity 250ms;
}

.form-control {
    font-size: 12px;
    padding: 7px 12px;
}

.dropdown-menu {
    font-size: 12px;
}

@media (min-width: 768px) {
    .deposit-symbol {
        padding-left: 0;
    }
}

.btn-toolbar.actions > .btn-group {
    margin-bottom: 20px;
}

.btn-toolbar.page_limits {
    margin-bottom: 20px;
}