/*
 * Datetime picker for Bootstrap v3
 * This override fixes behaviour on small screens
 */
.bootstrap-datetimepicker-widget {
    margin-bottom: 5px;
}
@media (max-width: 800px) {
    .bootstrap-datetimepicker-widget {
        width: 210px;
    }
    .bootstrap-datetimepicker-widget td.day{
        padding: 2px;
    }
}
