<script type="text/template" id="template-deposit-form">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Currency</label>
    <div class="col-sm-10">
      <select class="form-control" placeholder="Currency id"
        name="currency_id" value="<%= currency_id %>"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select class="form-control" placeholder="Type" name="type_id" value="<%= type_id %>"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Description"
        name="description" value="<%= description %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Minimum value</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" placeholder="Minimum value" name="value_min"
        step="<% if (currency_id) { %><%= 1 / window.collections.currencies.id(currency_id).get('denominator') %><% } %>"
        value="<% if (value_min != '' && value_min != null && currency_id) { %><%= value_min / window.collections.currencies.id(currency_id).get('denominator') %><% } %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Value</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" placeholder="Value" name="value"
        step="<% if (currency_id) { %><%= 1 / window.collections.currencies.id(currency_id).get('denominator') %><% } %>"
        value="<% if (currency_id) { %><%= value / window.collections.currencies.id(currency_id).get('denominator') %><% } %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Maximum value</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" placeholder="Maximum value" name="value_max"
        step="<% if (currency_id) { %><%= 1 / window.collections.currencies.id(currency_id).get('denominator') %><% } %>"
        value="<% if (value_max != '' && value_max != null && currency_id) { %><%= value_max / window.collections.currencies.id(currency_id).get('denominator') %><% } %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <div class="input-group date">
        <input type="text" class="form-control" placeholder="YYYY-MM-DD HH:mm:ss"
          name="date" value="<%= date %>">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% if (id) { %>
        <a class="btn btn-link pull-right" role="delete">Delete</a>
      <% }; %>
      <a class="btn btn-primary" role="save">Save</a>
      <a class="btn btn-default" href="javascript:window.history.back()">Cancel</a>
      <p class="text-danger" role="save_error"></p>
    </div>
  </div>
</form>
</script>