<script type="text/template" id="template-deposit-list-item">

<div class="btn-toolbar actions" role="actions">
  <div class="btn-group pull-left">
      <a href="#deposits/new" class="btn btn-default">New</a>
  </div>
</div>

<div class="list" role="list">
        <% if (results.length) { %>

            <div class="list-group">
            <% _.each(results, function(item, i, list) { %>
                <div class="list-group-item transaction">
                    <div class="row">
                        <div class="col-xs-6 col-sm-2">
                            <span title="<%= moment(item.get('date')).format('LLLL') %>" class="text-muted nowrap">
                                <%= moment(item.get('date')).fromNow() %>
                            </span>
                        </div>
                        <div class="hidden-xs col-sm-5 nobreak deposit-symbol">
                            <%= item.__html__() %>
                        </div>
                        <div class="col-xs-6 col-sm-3 text-right">
                            <%= currencies.id(item.get('currency_id')).get('sign') %>
                            <span class="nowrap <% if (item.get('value') >= 0) { %> text-success<% } else { %> text-danger<% }; %>">
                                <%= (item.get('value') / denominators[item.get('id')].number).toFixed(denominators[item.get('id')].count) %>
                            </span>
                        </div>
                        <div class="hidden-xs col-xs-3 col-sm-2 nowrap text-right">
                            <a href="#deposits/<%= item.get('id') %>" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#deposits/<%= item.get('id') %>/delete" class="btn btn-xs btn-link btn-transaction-delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 visible-xs nobreak deposit-symbol">
                                <%= item.__html__() %>
                        </div>
                        <div class="visible-xs col-xs-6 nowrap text-right">
                            <a href="#deposits/<%= item.get('id') %>" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#deposits/<%= item.get('id') %>/delete" class="btn btn-xs btn-link btn-transaction-delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>

            <% }); %>
            </div>
        <% } else { %>
            <div class="list-group">
                <div class="list-group-item">No results</div>
            </div>
        <% } %>
</div>

<div class="btn-toolbar page_limits pull-right" role="page_limits">
  <div class="btn-group">
    <% _.each([10,25,50], function(item, i, list) { %>
        <a class="btn btn-default<% if (model.state.pageSize == item) { %> active<% }; %>" data-page_limit="<%= item %>"><%= item %></a>
    <% }); %>
  </div>
</div>

<ul class="pagination" role="pagination">
  <li<% if (model.state.currentPage == model.state.firstPage)  { %> class="disabled"<% }; %>>
    <a href="#deposits">&laquo;</a>
  </li>
  <% for (var i = model.state.currentPage - 2; i <= model.state.lastPage && i <= model.state.currentPage + 2; i++) { %>
    <% if (i > 0)  { %>
      <li<% if (model.state.currentPage == i)  { %> class="active"<% }; %>>
        <a href="#deposits<% if (model.state.lastPage != model.state.firstPage) { %>/page<%= i %><% }; %>"><%= i %></a>
      </li>
    <% }; %>
  <% }; %>
  <li<% if (model.state.lastPage == model.state.currentPage) { %> class="disabled"<% }; %>>
    <a href="#deposits<% if (model.state.lastPage != model.state.firstPage) { %>/page<%= model.state.lastPage %><% }; %>">&raquo;</a>
  </li>
</ul>

</script>