<script type="text/template" id="template-transaction-form">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Deposit</label>
    <div class="col-sm-10">
      <select class="form-control" placeholder="Deposit id"
        name="deposit_id" value="<%= deposit_id %>"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Value</label>
    <div class="col-sm-10">
      <input type="number" step="<% if (deposit_id) { %><%= 1 / window.collections.currencies.id(window.collections.deposits.id(deposit_id).get('currency_id')).get('denominator') %><% } %>" class="form-control" placeholder="Value"
        name="value" value="<% if (deposit_id) { %><%= value / window.collections.currencies.id(window.collections.deposits.id(deposit_id).get('currency_id')).get('denominator') %><% } %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Description"
        name="description" value="<%= description %>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <div class="input-group date">
        <input type="text" class="form-control" placeholder="YYYY-MM-DD HH:mm:ss"
          name="date" value="<%= date %>">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% if (id) { %>
        <a class="btn btn-link pull-right" role="delete">Delete</a>
      <% }; %>
      <a class="btn btn-primary" role="save">Save</a>
      <a class="btn btn-default" href="javascript:window.history.back()">Cancel</a>
      <p class="text-danger" role="save_error"></p>
    </div>
  </div>
</form>
</script>