<script type="text/template" id="template-transaction-list-item">

<div class="btn-toolbar actions" role="actions">
  <div class="btn-group pull-left">
      <a href="#transactions/new" class="btn btn-default">New</a>
  </div>
  <div class="btn-group pull-right">
      <a class="btn btn-default<% if(!model.queryParams['period']) { %> active<% } %>" role="filter" data-filter="period" data-value="" title="All dates">All</a>
      <a class="btn btn-default<% if(model.queryParams['period'] == 'this_day') { %> active<% } %>" role="filter" data-filter="period" data-value="this_day" title="This day from 00:00">Day</a>
      <a class="btn btn-default<% if(model.queryParams['period'] == 'this_week') { %> active<% } %>" role="filter" data-filter="period" data-value="this_week" title="This week from monday">Week</a>
      <a class="btn btn-default<% if(model.queryParams['period'] == 'this_month') { %> active<% } %>" role="filter" data-filter="period" data-value="this_month" title="This month from 01 day">Month</a>
      <a class="btn btn-default<% if(model.queryParams['period'] == 'this_year') { %> active<% } %>" role="filter" data-filter="period" data-value="this_year" title="This year from 1 Jan">Year</a>
  </div>
  <div class="btn-group pull-right">
      <a class="btn btn-default<% if(!model.queryParams['direction']) { %> active<% } %>" role="filter" data-filter="direction" data-value="" title="All directions">All</a>
      <a class="btn btn-default<% if(model.queryParams['direction'] == 'in') { %> active<% } %>" role="filter" data-filter="direction" data-value="in" title="Incoming transactions">In</a>
      <a class="btn btn-default<% if(model.queryParams['direction'] == 'out') { %> active<% } %>" role="filter" data-filter="direction" data-value="out" title="Outgoing transactions">Out</a>
  </div>

    <div class="btn-group pull-right">
      <a class="btn btn-<% if(model.queryParams['deposit_id']) { %>primary<% } else { %>default<% } %>" role="filter_deposit_current" title="Reset">
          <% if(model.queryParams['deposit_id']) { %>
            <%= deposits.id(model.queryParams['deposit_id']).__html__() %>
          <% } else { %>
            All deposits
          <% } %>
      </a>
      <a class="btn btn-<% if(model.queryParams['deposit_id']) { %>primary<% } else { %>default<% } %> dropdown-toggle" data-toggle="dropdown" role="filter_deposit_current_dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" role="filter_deposit" data-id="">All</a></li>
        <li class="divider"></li>
        <% _.each(deposits.models, function(item, i, list) { %>
        <li><a href="#" role="filter_deposit" data-id="<%= item.get('id') %>"><%= item.__html__() %></a></li>
        <% }); %>
      </ul>
    </div>
</div>

<div class="list" role="list">
        <% if (results.length) { %>

            <div class="list-group">
            <% _.each(results, function(item, i, list) { %>
                <div class="list-group-item transaction">
                    <div class="row">
                        <div class="col-xs-6 col-sm-2">
                            <span title="<%= moment(item.get('date')).format('LLLL') %>" class="text-muted nowrap">
                                <%= moment(item.get('date')).fromNow() %>
                            </span>
                        </div>
                        <div class="col-xs-6 col-sm-3 text-right">
                            <%= currencies.id(deposits.id(item.get('deposit_id')).get('currency_id')).get('sign') %>
                            <span class="nowrap <% if (item.get('value') >= 0) { %> text-success<% } else { %> text-danger<% }; %>">
                                <%= (item.get('value') / denominators[item.get('deposit_id')].number).toFixed(denominators[item.get('deposit_id')].count) %>
                                <% if (item.get('value') > 0) { %>
                                    <span class="glyphicon glyphicon-arrow-up"
                                        title="Incoming transaction"></span>
                                <% } else { %>
                                    <% if (item.get('value') < 0) { %>
                                        <span class="glyphicon glyphicon-arrow-down"
                                        title="Outgoing transaction"></span>
                                    <% }; %>
                                <% }; %>
                            </span>
                        </div>
                        <div class="hidden-xs col-sm-2 nobreak deposit-symbol">
                                <%= deposits.id(item.get('deposit_id')).__html__() %>
                        </div>
                        <div class="hidden-xs col-sm-3">
                            <%= item.get('description') %>
                        </div>
                        <div class="hidden-xs col-xs-3 col-sm-2 nowrap text-right">
                            <a href="#transactions/<%= item.get('id') %>" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#transactions/<%= item.get('id') %>/delete" class="btn btn-xs btn-link btn-transaction-delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row visible-xs transaction-description-xs">
                        <div class="col-xs-12">
                            <%= item.get('description') %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 visible-xs nobreak deposit-symbol">
                                <%= deposits.id(item.get('deposit_id')).__html__() %>
                        </div>
                        <div class="visible-xs col-xs-6 nowrap text-right">
                            <a href="#transactions/<%= item.get('id') %>" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#transactions/<%= item.get('id') %>/delete" class="btn btn-xs btn-link btn-transaction-delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
                
            <% }); %>
            </div>
        <% } else { %>
            <div class="list-group">
                <div class="list-group-item">No results</div>
            </div>
        <% } %>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Profit: <span class="pull-right"><%= totals.profit %></span>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Outlays: <span class="pull-right"><%= totals.outlay %></span>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Income: <span class="pull-right"><%= totals.income %></span>
          </div>
        </div>
    </div>
</div>

<div class="btn-toolbar page_limits pull-right" role="page_limits">
  <div class="btn-group">
    <% _.each([10,25,50], function(item, i, list) { %>
        <a class="btn btn-default<% if (model.state.pageSize == item) { %> active<% }; %>" data-page_limit="<%= item %>"><%= item %></a>
    <% }); %>
  </div>
</div>

<ul class="pagination" role="pagination">
  <li<% if (model.state.currentPage == model.state.firstPage)  { %> class="disabled"<% }; %>>
    <a href="#transactions">&laquo;</a>
  </li>
  <% for (var i = model.state.currentPage - 2; i <= model.state.lastPage && i <= model.state.currentPage + 2; i++) { %>
    <% if (i > 0)  { %>
      <li<% if (model.state.currentPage == i)  { %> class="active"<% }; %>>
        <a href="#transactions<% if (model.state.lastPage != model.state.firstPage) { %>/page<%= i %><% }; %>"><%= i %></a>
      </li>
    <% }; %>
  <% }; %>
  <li<% if (model.state.lastPage == model.state.currentPage) { %> class="disabled"<% }; %>>
    <a href="#transactions<% if (model.state.lastPage != model.state.firstPage) { %>/page<%= model.state.lastPage %><% }; %>">&raquo;</a>
  </li>
</ul>

</script>