{% extends "layout.html" %}

{% block title %}Transactions{% endblock %}
{% block description %}Your all transactions on all debits{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='lib/select2-3.4.8/select2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav js-nav js-hidden">
      <a class="blog-nav-item js-nav-item" href="#transactions"><span
          class="glyphicon glyphicon-list visible-xs"></span><span class="hidden-xs">Transactions</span></a>
      <a class="blog-nav-item js-nav-item" href="#deposits"><span
          class="glyphicon glyphicon-briefcase visible-xs"></span><span class="hidden-xs">Deposits</span></a>
      <a class="blog-nav-item js-nav-item" href="#currencies"><span
          class="glyphicon glyphicon-euro visible-xs"></span><span class="hidden-xs">Currencies</span></a>
      {% if g.user.is_authorized() %}
      <a class="blog-nav-item js-nav-item pull-right" href="{{ url_for('users.logout') }}"><span
          class="glyphicon glyphicon-log-out visible-xs"></span><span class="hidden-xs">Logout</span></a>
      <span class="blog-nav-text pull-right">{{ g.user.name }}</span>
      {% else %}
      <a class="blog-nav-item pull-right" href="{{ url_for('users.login') }}"><span
          class="glyphicon glyphicon-log-in visible-xs"></span><span class="hidden-xs">Login</span></a>
      {% endif %}
    </nav>
  </div>
</div>
<script type="text/javascript">
  $(window).ready(function () {
    window.menu = new OutlaysMenu({
      el: $('.js-nav')[0]
    });
  });
</script>

<div class="container">

  <div class="blog-header js-header js-hidden">
    <h1 class="blog-title js-title">{{ self.title() or '&nbsp;' }}</h1>
    <p class="blog-description js-description">{{ self.description() or '&nbsp;' }}</p>
  </div>
  <script type="text/javascript">
    $(window).ready(function () {
      window.header = new OutlaysHeader({
        el: $('.js-header')[0]
      });
    });
  </script>

  <div class="row">

    <div class="col-sm-12 blog-main">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="blog-body js-body"></div>

      <script src="{{ url_for('static', filename='lib/backbone.paginator-2.0/backbone.paginator.min.js') }}"></script>

      {% include "js/simple_list.html" %}
      {% include "transactions/form.html" %}
      {% include "transactions/list.html" %}
      {% include "deposits/form.html" %}
      {% include "deposits/list.html" %}

      <script src="{{ url_for('static', filename='js/deposit_types/model.js') }}"></script>
      <script src="{{ url_for('static', filename='js/deposit_types/collection.js') }}"></script>
      <script src="{{ url_for('static', filename='js/currencies/model.js') }}"></script>
      <script src="{{ url_for('static', filename='js/currencies/collection.js') }}"></script>
      <script src="{{ url_for('static', filename='js/deposits/model.js') }}"></script>
      <script src="{{ url_for('static', filename='js/deposits/collection.js') }}"></script>
      <script src="{{ url_for('static', filename='js/deposits/form.js') }}"></script>
      <script src="{{ url_for('static', filename='js/deposits/list.js') }}"></script>
      <script src="{{ url_for('static', filename='js/transactions/model.js') }}"></script>
      <script src="{{ url_for('static', filename='js/transactions/collection.js') }}"></script>
      <script src="{{ url_for('static', filename='js/transactions/form.js') }}"></script>
      <script src="{{ url_for('static', filename='js/transactions/list.js') }}"></script>
      <script src="{{ url_for('static', filename='js/view/simple_list.js') }}"></script>


      <script src="{{ url_for('static', filename='js/router.js') }}"></script>


      <script src="{{ url_for('static', filename='lib/select2-3.4.8/select2.min.js') }}"></script>

      <script type="text/javascript">
        $(window).ready(function () {

          window.collections = {
	    currencies: new CurrencyCollection({{ currencies| safe }}),
            deposits: new DepositCollection({{ deposits| safe }})
          };
          var router = new Router();
        });
      </script>
    </div><!-- /.blog-main -->

    <!-- <div class="col-sm-3 blog-sidebar">

            <ul class="list-group">
              <li class="list-group-item">
                <span class="pull-right">R <span class="sum label label-success">13000</span></span> Cash
              </li>
              <li class="list-group-item">
               <span class="pull-right">R <span class="sum label label-danger">-2000</span></span> Mastercard
              </li>
              <li class="list-group-item">
                <span class="pull-right">R <span class="sum label label-success">9000</span></span> Sberbank
              </li>
            </ul>

        </div> -->
    <!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
{% endblock %}
