<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Epic Outlays</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/static/favicon.png" />
    <link href="{{ url_for('static', filename='lib/bootstrap-3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='lib/bootstrap-datetimepicker-2.1.30/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/overrides.css') }}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-3.1.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/underscore-1.6.0/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/moment-2.6.0/js/moment-with-langs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/backbone-1.1.2/backbone-min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-datetimepicker-2.1.30/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/outlays.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>

    {% block header %}{% endblock %}
</head>
<body>
    <div class="site-wrapper">
        {% block body %}{% endblock %}
    </div>
    <div class="blog-footer">
        <div class="container">
            Powered by <a href="mailto:outlays@efstudios.org">EpicFail Studios</a>.
        </div>
    </div>
</body>
</html>
