<!doctype html>
<html lang="en">

<head>
  <title>Epic Outlays</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Description" content="Epic Outlays">

  <link async href="/outlays/static/dist/vendors~main.css" rel="stylesheet">
</head>

<body>
  <link href="/outlays/static/dist/main.css" rel="stylesheet" />
  <div id="root" class="site-wrapper"></div>
  <footer class='blog-footer'>
    <div class='container'>
      Powered by <a href='mailto:outlays@efstudios.org'>EpicFail Studios</a>.
    </div>
  </footer>

  <script>
    window.eo = {
      currentUser: { email: 'john.kolt@efstudios.org' },
      deposits: {{ { deposits } }},
    transactions: { { { transactions } } },
  }
  </script>
  <script async src="/outlays/static/dist/vendors~main.chunk.js"></script>
  <script async src="/outlays/static/dist/main.js"></script>
  <!-- <script async src="/dist/styles.chunk.js"></script> -->
</body>

</html>