@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../theme/constants.less';

html {
  height: 100%;
}

body {
  height: 100%;
  color: @default_text;
  background-color: @background;
  overflow-y: scroll;
  font-family: Terminus, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.7;
  min-width: 320px;
  margin: 0;
}

a {
  color: @default_link;
}

@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

.btn {
  font-size: 12px;
}

.loading {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.bg-primary {
  background-color: @primary !important;
}

.header-link {
  margin-right: 15px;
}

.nowrap {
  white-space: nowrap;
}

.form-control {
    font-size: 12px;
    padding: 7px 12px;
}

.form-text {
    margin-top: 6px;
    margin-bottom: 8px;
}

.dropdown-menu {
    font-size: 12px;
}

.label.sum {
    font-size: 12px;
    margin-top: 1px;
    font-weight: normal;
    padding: .2em .4em .25em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Terminus, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: @default_text;
}

/*
 * Main column and sidebar layout
 */

.site-wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -41px;
  padding: 0 0 41px;

  >main {
    // overflow: hidden;

    .list-actions {
      margin-bottom: 15px;
    }
  }
}

/* Sidebar modules for boxing content */

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: @footer_back;
  border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: @header_back;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Active state gets a caret at the bottom */
.blog-nav { /* Animate menu show on set 'height: 40px' from js */
  height: 40px;
  overflow: hidden;
  transition: height 250ms;

  .blog-nav-text {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500;
    color: @header_text;
    text-decoration: none;
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  .blog-nav-item {
    cursor: pointer;

    position: relative;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500;
    color: @header_link;

    @media (max-width: 767px) {
      > .text {
        display: none;
      }
    }
  
    @media (min-width: 768px) {
      padding: 10px;

      > .text {
        display: inline-block;
        margin-left: @padding;
      }
    }

    &:hover,
    &:focus {
      color: @header_link_active;
      text-decoration: none;
    }

    &.active {
      color: @header_link;

      &:after {
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        content: " ";
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
    
        @media (min-width: 768px) {
          bottom: 0;
        }
      }
    }
  }
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
  margin-bottom: 0;
  font-weight: normal;
}

.blog-description {
  font-size: 16px;
  color: @muted_text;
  margin: 0;
}

/*
 * Footer
 */

.blog-footer {
  padding: 10px 0;
  color: @footer_text;
  text-align: center;
  background-color: @footer_back;
  border-top: 1px solid @footer_border;
}

.page {
  margin-top: 15px;

  // >h1 {
  //   margin-top: 15px;
  // }
  
  >.list-group {
    margin-bottom: 15px;
  }

  .card {
    &.preview {
      >.card-body {
        padding: .75rem 1.25rem;
      }
    }

    &.flat {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      >.card-header {
        background-color: transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .card + .form {
    margin-top: 15px;
  }
}

.icon {
  width: 25px;
}