@primary: #1e77bc;

@default_text: #333;
@default_link: @primary;
@muted_text: #999;
@background: #fff;

/* header */
@header_back: @primary;
@header_text: #fff; /* #cdddeb */
@header_link: #fff;
@header_link_active: #cdddeb; /* #fff */

/* footer */
@footer_back: #f9f9f9;
@footer_border: #e5e5e5;
@footer_text: #737373;

@padding: 5px;
