<script type="text/template" id="template-simple-list">
<table class="table table-striped table-hover table-condensed">
    <% if (error) { %>
    <tr><td><%= error %></td></tr>
    <% } else { %>
        <% if (results.length) { %>
            <tr>
                <% for(var i in fields) { %>
                <th><%= fields[i] %></th>
                <% } %>
            </tr>
            <% _.each(results, function(item, i, list) { %>
                <tr>
                    <% for(var i in fields) { %>
                    <td><%= item.get(fields[i]) %></td>
                    <% } %>
                </tr>
            <% }); %>
        <% } else { %>
            <tr><td>No results</td></tr>
        <% } %>
    <% } %>
</table>
</script>