{% macro render_field(field) %}
<div class="form-group">
    {{ field.label(class='col-sm-2 control-label') }}
    <div class="col-sm-4">
        {{ field(**kwargs)|safe }}
    </div>
    <div class="col-sm-4">
        {% for error in field.errors %}
            <p class="text-danger form-text">{{ error }}</p>
        {% endfor %}
    </div>
</div>
{% endmacro %}