{% extends "users/layout.html" %}
{% block title %}Epic Outlays{% endblock %}
{% block description %}Password reset{% endblock %}

{% block users_body %}
    <form class="form-signin form-horizontal" role="form" method="POST">
            {{ render_field(form.email, class='form-control') }}

            <div class="form-group row">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary btn-block form-control" type="submit">Send email</button>
                </div>
            </div>
    </form>
{% endblock %}
