{% extends "layout.html" %}
{% from 'users/_field.html' import render_field %}
{% block body %}
    <div class="container">

        <div class="blog-header js-header js-hidden">
            <h1 class="blog-title js-title">{{ self.title() or '&nbsp;' }}</h1>
            <p class="blog-description js-description">{{ self.description() or '&nbsp;' }}</p>
        </div>
        <script type="text/javascript">
            $(window).ready(function() {
                window.header = new OutlaysHeader({
                    el: $('.js-header')[0]
                });
            });
        </script>

      <div class="row">

        <div class="col-sm-8 blog-main">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {{ message }}
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <div class="blog-body js-body js-hidden">
                {% block users_body %}{% endblock %}
            </div>
            <script type="text/javascript">
            $(window).ready(function() {
                setTimeout(function() {
                    $('.js-body').removeClass('js-hidden');
                }, 250);
            });
            </script>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}
