{% extends "users/layout.html" %}

{% block title %}Epic Outlays{% endblock %}
{% block description %}Log in for using this service{% endblock %}

{% block users_body %}
    <form class="form-signin form-horizontal" role="form" method="POST">
        {{ render_field(form.email, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}

        <div class="form-group row">
            <div class="col-sm-2 col-xs-4">
                <a class="btn btn-default btn-block form-control" href="{{ url_for('.signup', next=request.args.get('next')) }}">Signup</a>
            </div>
            <div class="col-sm-4 col-xs-8">
                <button class="btn btn-primary btn-block form-control" type="submit">Login</button>
            </div>
            <div class="col-sm-4 col-xs-12 forget-password">
                <a class="btn btn-default btn-block form-control" href="{{ url_for('.activation_code') }}">Forget password?</a>
            </div>
        </div>
    </form>
{% endblock %}