{% extends "users/layout.html" %}
{% block title %}Epic Outlays{% endblock %}
{% block description %}Signup for using this service{% endblock %}

{% block users_body %}
    <form class="form-signup form-horizontal" role="form" method="POST">
        {{ render_field(form.name, class='form-control') }}
        {{ render_field(form.email, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}
        {{ render_field(form.password_confirm, class='form-control') }}
        {{ render_field(form.phone, class='form-control') }}

        <div class="form-group row">
            <div class="col-sm-2 col-xs-4">
                <a class="btn btn-default btn-block form-control" href="{{ url_for('.login', next=request.args.get('next')) }}">Login</a>
            </div>
            <div class="col-sm-4 col-xs-8">
                <button class="btn btn-primary btn-block form-control" type="submit">Signup</button>
            </div>
        </div>
    </form>
{% endblock %}